html {
    height: 100%;
    width: 100%;
    font-family: 'Varela Round';
    color: white;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding-block-end: 0%;

    h1 {
        border-bottom: solid;
        width: 50%;
    }
}

#nav-bar ul {
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: #2F2F2F;
    overflow: hidden;
    list-style-type: none;
    border-bottom: solid;
    border-color: black;

    li {
        display: inline-block;
        height: 100%;
    }

    li input {
        box-sizing: border-box;
        height: 100%;
        display: block;
        padding: 10px;
    }

    li a {
        padding: 10px;
        box-sizing: border-box;
        float: left;
        display: block;
        text-decoration: none;
        text-align: center;
        height: 100%;
        line-height: 100%;
        width: 200px;

        span {
            font-size: 2em;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
    a:hover {
        background-color: black;
    }

    a:active {
        color: #1e6c9b;
    }

    a:link {
        color: #1e6c9b;
    }

    a:visited {
        color: #1e6c9b;
    }
}

#content {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 90vh;
}


#about {
    background: url('Background.png');
    height: 1000px;
    padding: 20px;

    #about-words {
        padding: 20px;
        width: 600px;
        height: 600px;
        float: right;
        border-radius: 15%;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
    }   
}

/*Fix Divider Img there is a 1 pixel height drop between divider and image*/
#assurance-words {
    z-index: 1;
    box-sizing: border-box;
    padding: 40px;
    background-image: url('Divider.png'), url('Github.png');
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-position: right bottom, 350% top;
    height: 1000px;
}
#tutorial {
    overflow: hidden;
    box-sizing: border-box;
    padding: 40px;
    background-color: black;
    height: 1000px;
}


